<mat-toolbar class="header">
    <span>Logo Placeholder </span>

    <section>
        <form>
            <mat-form-field >
                <mat-label></mat-label>
                <mat-select>
                  @for (category of category; track category) {
                    <mat-option [value]="category.value">{{category.viewValue}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
              

               <mat-form-field >
            <mat-label></mat-label>
            <input matInput placeholder="Suche Amazon.de" type="text" #filter >
          </mat-form-field>
          
          <button mat-button color="primary" (click)="filterResults(filter.value)">Search</button>
        </form>
      </section>
</mat-toolbar>
